.allMovies{
    width: 100%;
    display: grid;
    padding-top: 10%;
    grid-template-columns: repeat(3, 23%);
    align-items: flex-start;
    row-gap: 70px;
    justify-content: space-evenly;
    color: white;

    @media screen and (max-width:500px) {
        grid-template-columns: repeat(2, 40%);
        
    }

    & img{
        width: 100%;
        cursor: pointer;
        transition: 500ms;

        &:hover{
            opacity: .5;
            transition: 500ms;
        }
    }

    & span{
        margin-right: 5px;
    }

    & h4{
        margin-bottom: 10px;
    }
}

.genreName{
    opacity: .6;
}

.hoverLayer{
    background-color: black;
    display: flex;
    align-items: center;
    position: relative;


    &::after{
        content: "BOOK NOW";
        width: 90px;
        border: 1px solid;
        padding: 10px;
        position: absolute;
        left: calc(50% - 55px);
        opacity: 0;
        transition: 500ms;
        pointer-events: none;
    }

    &:hover::after{
        opacity: 1;
        transition: 500ms;
    }
}