.allMovies {
    width: 100%;
    display: grid;
    padding-top: 15%;
    grid-template-columns: repeat(3, 23%);
    align-items: flex-start;
    row-gap: 70px;
    justify-content: space-evenly;
    color: white;

    @media screen and (max-width:500px) {
        grid-template-columns: repeat(2, 40%);
        padding-top: 22%;

    }

    & img {
        width: 100%;
        cursor: pointer;
        transition: 500ms;

        &:hover {
            opacity: .5;
            transition: 500ms;
        }
    }

    & span {
        margin-right: 5px;
    }

    & h4 {
        margin-bottom: 10px;
    }
}

.genreName {
    opacity: .6;
}

.hoverLayer {
    background-color: black;
    display: flex;
    align-items: center;
    position: relative;


    &::after {
        content: "BOOK NOW";
        width: 90px;
        border: 1px solid;
        padding: 10px;
        position: absolute;
        left: calc(50% - 55px);
        opacity: 0;
        transition: 500ms;
        pointer-events: none;
    }

    &:hover::after {
        opacity: 1;
        transition: 500ms;
    }
}


.genreFilter {
    display: flex;
    position: absolute;
    z-index: 10000;
    flex-wrap: wrap;
    left: 7%;
    max-width: 70%;
    box-shadow: inset 1px 1px 1rem rgb(215, 151, 236);
    grid-column-start: 1;
    border-radius: 10px;
    grid-column-end: 4;
    padding: 2% 5%;
    background-color: rgba(29, 0, 29, 1);
    display: none;


    &__genre {
        margin: 10px;
        padding: 5px;
        border: 1px solid;
        cursor: pointer;
        border-radius: 10px;
        transition: 300ms;

        &:hover {
            transform: scale(1.05);
            transition: 300ms;
        }
    }
}

.genreSelect{
    background-color: purple;
}

.genrePicker{
    position: absolute;
    border: 1px solid;
    top: 15%;
    left: 7%;
    border-radius: 10px;
    max-width: 100px;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(91, 0, 91);
    cursor: pointer;
        transition: 300ms;

        &:hover {
            transform: scale(1.05);
            transition: 300ms;
        }
}



.filteredCounter{
    position: absolute;
    right: -130px;
}


.show{
    display: flex;
}



