// carousel slider
.visuallyhidden {
    position: absolute;
    z-index: -1;
    right: 0;
    opacity: 0;

}


.container {
    overflow: hidden;
    padding: 20px;
    background: rgba(0, 0, 0, .1);
    height: 90vh;
}

.card-carousel {
    --card-width: 80%;
    --card-max-width: 200px;
    --card-height: 550px;
    --carousel-min-width: 600px;
    z-index: 1;
    position: relative;
    margin: 0 auto;
    margin-top: 5%;
    width: 100%;
    height: var(--card-height);
    min-width: var(--carousel-min-width);
    transition: filter .3s ease;
}

@media screen and (max-width: 640px) {
    .card-carousel {
        margin-left: calc((100vw - var(--carousel-min-width) - 40px) / 2)
    }
}

.card-carousel.smooth-return {
    transition: all .2s ease;
}

.card-carousel .card {
    background: whitesmoke;
    width: var(--card-width);
    max-width: var(--card-max-width);
    text-align: center;
    padding: 1em;
    min-width: 250px;
    height: var(--card-height);
    position: absolute;
    margin: 0 auto;
    color: rgb(0, 0, 0);
    transition: inherit;
    -webkit-box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.3);
    border-radius: 1em;
    filter: brightness(.9);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

.card.highlight {
    filter: brightness(1)
}


.image-container {
    width: 100%;
    position: relative;
    padding: 1em;

    & img {
        width: 100%;
        border-radius: .6em;
    }

}


.line {
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.card {
    overflow: hidden;

    font-size: small;

    &__title {
        margin: 0;
    }

    &__cinema {
        color: rgba(0, 0, 0, 0.731);
    }

    & span {
        font-weight: 600;
    }

    & p{
        margin: 5px;
    }
}

.barcode,
#barcode {
    width: 100%;
}

.barcode{
    position: absolute;
    bottom: -18px;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    border-top: 1px dashed;
    padding: 15px;
}

