* {
  box-sizing: border-box;
}

body {
  margin: 0;
  height: 100vh;
  background-color: black;
  font-family: Arial, Helvetica, sans-serif;
}

a {
  text-decoration: none;
  color: inherit;
  display: inline-block;
}


.dnone {
  display: none !important;
}





.empty{
  color: white;
  text-align: center;
}



.date{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2%;
  text-shadow: 1px 1px 1rem purple;
}