.genre {
    color: rgb(255, 255, 255);
    padding: 5% 9% 2% 5%;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    overflow-x: scroll;
    overflow-y: hidden;
    margin-top: 50px;
    gap: 2%;


    &__title {
        max-width: 25%;
        width: 25%;

        @media screen and (max-width:560px) {
            font-size: small;
        }

        @media screen and (max-width:450px) {
            width: 30%;
        }

        & h2 {

            @media screen and (max-width:450px) {
                font-size: 16px;
            }
        }

        & a {
            color: rgb(204, 169, 204);
            transition: 400ms;

            @media screen and (max-width:450px) {
                font-size: 10px;
            }

            &:hover {
                color: rgb(168, 98, 168);
                text-decoration: underline;
                transition: 400ms;
            }
        }

        & p {
            font-size: 12px;

            @media screen and (max-width:450px) {
                font-size: 8px;
            }
        }

    }

}

.movies {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 6%;
    overflow-x: scroll;
    width: 60%;

    &__movie {
        max-width: 150px;
        width: 33%;
        min-width: 70px;
        flex-shrink: 0;
        cursor: pointer;

        &__img {
            width: 100%;
            overflow: hidden;

            &:hover img{
                transform: scale(1.05);
                transition: 500ms;
            }

            & img {
                width: 100%;
                transition: 500ms;
            }
        }

        &__name {
            margin-top: 10px;

            @media screen and (max-width:450px) {
                font-size: 10px;
                margin-top: 5px;
            }
        }
    }
}

.drama{
    background: linear-gradient(180deg , black 80% ,rgb(52, 19, 52));
    padding-bottom: 10%;
}


.action{
    flex-direction: row-reverse;
    padding: 10% 6% 2% 9%;
    margin-top: 0;
    background-color: rgb(52, 19, 52);
    position: relative;

    & .genre__title{
        margin-right: 20px;
    }
}

.comedy{
    padding-top: 10%;
    margin-top: 0;
    background-color: rgb(52, 19, 52);

}