.header {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    color: white;
    padding: 10px 5%;
    background-color: rgba(29, 0, 29, 0.932);
    position: sticky;
    top: 0;
    box-shadow: .5px 0 .5rem rgb(33, 33, 33);
    z-index: 10000000;

}



#bars {
    display: none;
    cursor: pointer;
    fill: rgb(176, 143, 181);

    @media screen and (max-width:700px) {
        display: inline-block;
        font-size: 30px;
    }

    @media screen and (max-width:400px) {
        font-size: 25px;
    }
}



.imgLogo {
    width: 22%;
    max-width: 60px;
}


.Pheader {
    transition: 400ms;
    cursor: pointer;

    &:hover {
        font-weight: 500;
        color: rgb(168, 98, 168);
        transform: scale(1.05);
        transition: 400ms;
    }
}



.HeaderDiv {
    flex-grow: 1;
    display: flex;
    align-items: center;
}

.nav {
    justify-content: space-around;

    @media screen and (max-width:700px) {
        display: none;
    }
}



.login {
    justify-content: flex-end;
    gap: 2%;

}


#login,
#signup {
    border: 1px solid;
    color: rgb(169, 73, 169);
    padding: 10px;

    @media screen and (max-width:700px) {
        display: none;
    }

    &:hover {
        font-weight: 600;
        padding: 10px 8.3px;
    }
}


#Menu__login,
#Menu__signup {
    border: 1px solid;
    color: rgb(169, 73, 169);
    padding: 5px 10px;
    width: 80px;
    text-align: center;

    &:hover {
        font-weight: 600;
        padding: 5px 8.3px;
    }

}

#signup,
#Menu__signup {
    background-color: rgb(169, 73, 169);
    color: black;
}



.Menu__nav {
    flex-direction: column;
    justify-content: space-between;
}


.pMenu {
    transition: 400ms;
    cursor: pointer;
    margin: 2px;

    &:hover {
        font-weight: 500;
        color: rgb(168, 98, 168);
        transform: scale(1.05);
        transition: 400ms;
    }
}


.menu {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 100%;
    right: 0;
    background-color: inherit;
    height: 250px;
    padding: 20px 40px;
    box-shadow: 1px 1px 1rem black;


}

.loginMenu {
    flex-direction: column;
}


