.header {
    display: flex;
    position: relative;
    align-items: center;
    justify-content: space-between;
    padding: 10px 5%;
    background-color: rgb(176, 176, 176);
    position: sticky;
    box-shadow: .5px 0 .5rem rgb(33, 33, 33);
    z-index: 10000;

    & div {
        flex-grow: 1;
        display: flex;
        align-items: center;
    }

    & .nav {
        justify-content: space-around;

        @media screen and (max-width:700px) {
            display: none;
        }


        & a {
            color: rgb(44, 44, 44);
            transition: 200ms;

            &:hover {
                color: black;
                font-weight: 500;
                transform: scale(1.05);
                transition: 200ms;
            }
        }
    }

    & img {
        width: 22%;
        max-width: 60px;
    }
}

#login,
#signup {
    border: 1px solid;
    background-color: rgb(0, 0, 0);
    color: white;
    padding: 10px;

    @media screen and (max-width:700px) {
        display: none;
    }

    &:hover {
        font-weight: 600;
        padding: 10px 8.3px;
    }
}


#Menu__login , #Menu__signup{
    border: 1px solid;
    background-color: rgb(0, 0, 0);
    color: white;
    padding: 5px 10px;
    width: 80px;
    text-align: center;

    &:hover {
        font-weight: 600;
        padding: 5px 8.3px;
    }

}

#signup  , #Menu__signup{
    background-color: white;
    color: black;
}


.login {
    justify-content: flex-end;
    gap: 2%;

}

.bars{
    display: none;
    cursor: pointer;

    @media screen and (max-width:700px) {
        display: inline-block;
        font-size: 30px;
    }

    @media screen and (max-width:400px) {
        font-size: 25px;
    }
}



.Menu__nav{

    flex-direction: column;
    justify-content: space-between;

    & a {
        color: rgb(44, 44, 44);
        transition: 200ms;

        &:hover {
            color: black;
            font-weight: 500;
            transform: scale(1.05);
            transition: 200ms;
        }
    }
}


.menu{
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 100%;
    right: 0;
    background-color: inherit;
    height: 250px;
    padding: 20px 40px;
    border-left: 2px solid rgb(162, 162, 162);
    border-bottom: 2px solid rgb(162, 162, 162);

    & .login{
        flex-direction: column;
    }
}


